<nav class="navbar navbar-expand-lg navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand nav-link" href="#">
        <img src="/images/favicon-32x32.png" width="32" height="32" alt="">
        Viagem
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" ng-app="viagem" ng-controller="apicontroler">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Preços</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    API: {{nomeapi}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <div class="btn-group btn-group-vertical" data-toggle="buttons">
                        <a class="dropdown-item form-check" ng-click="RadioChange('apiphp')" > <span ng-if="api=='apiphp'"><i class="fa fa-fw fa-check" style="color: #5cb85c;"></i></span>PHP</a>
                        <a class="dropdown-item form-check" ng-click="RadioChange('apinode')"> <span ng-if="api=='apinode'"><i class="fa fa-fw fa-check" style="color: #5cb85c;"></i></span>NodeJS</a>
                        <a class="dropdown-item form-check" ng-click="RadioChange('apipython')"><span ng-if="api=='apipython'"><i class="fa fa-fw fa-check" style="color: #5cb85c;"></i></span>Python</a>
                    </div>
                </div>
            </li>
        </ul>        
    </div>
</nav>
